params {
    lsf_project_code = "re_gecip_renal"

    temp_dir = '/re_scratch/re_gecip/renal/sdupreez/temp'

    // Full path to source bfile containing ancestrally relevent HQ higher MAF SNPs
    source_ancestry_bfiles = '/gel_data_resources/main_programme/aggregation/aggregate_gVCF_strelka/aggV2/additional_data/HQ_SNPs/MAF1/GELautosomes_LD_pruned_1kgp3Intersect_maf0.01_mpv10'

    // Full path to directory containing low MAF high coverage bfiles 
    source_lowMAF_bfiles_dir = '/gel_data_resources/main_programme/aggregation/aggregate_gVCF_strelka/aggV2/genomic_data_subset/PASS_MAF0.001/plinkfiles/plink_merged_by_chr'

    // Specify the name format of the source low MAF bfiles containing chromosome specific data on cohort
    // (to be used to grep the full bfile names via the query "*<prefix><chr_num><suffix>*.bim")
    bfile_chr_num_prefix = '_chr'
    bfile_chr_num_suffix = '_'

    // Full path to directory containing OPGS files to be formatted
    OPGS_folders_dir = '/re_gecip/renal/sdupreez/misc/unformatted_omicspred_scorefiles'

    // Max number of files to process per job
    chunk_size = 25

    ensembl_GRCh38_gff3 = "/public_data_resources/ensembl-data/release-109/Homo_sapiens.GRCh38.109.gff3.gz"

    // Return participant IDs from getCohortData
    provide_participant_ids = 1
}

executor {
    name = 'lsf'
    queueSize = 0
}

def log_dir = "${new File('.').canonicalPath}/logs"
process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    queue = 'short'
    cpus   = { 1    * task.attempt }
    memory = { 1.GB * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    beforeScript = { "mkdir -p ${log_dir}/${task.process}" }
    clusterOptions = { 
        "-P ${params.lsf_project_code} -o ${log_dir}/${task.process}/${task.process}_${task.index}.out -e ${log_dir}/${task.process}/${task.process}_${task.index}.err" 
    }

    withLabel: small {
        cpus   = { 1     + 1    * (task.attempt - 1) }
        memory = { 20.MB + 1.GB * (task.attempt - 1) }
    }

    withName: getGenomicPrincipalComponenets {
        cpus   = { 4    + 1    * (task.attempt - 1) }
        memory = { 4.GB + 1.GB * (task.attempt - 1) }
    }

    withName: ancestryMatching {
        queue  = 'medium'
        cpus   = { 4    * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withName: calculatePGS {
        queue  = 'medium'
        cpus   = { 6    + 2    * (task.attempt - 1) }
        memory = { 6.GB + 2.GB * (task.attempt - 1) }
    }
}

def execution_timestamp = "${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}"
timeline {
    enabled = true
    file    = "execution_details/${execution_timestamp}/execution_timeline_${execution_timestamp}.html"
}
report {
    enabled = true
    file    = "execution_details/${execution_timestamp}/execution_report_${execution_timestamp}.html"
}
trace {
    enabled = true
    file    = "execution_details/${execution_timestamp}/execution_trace_${execution_timestamp}.txt"
}
dag {
    enabled = true
    file    = "execution_details/${execution_timestamp}/pipeline_dag_${execution_timestamp}.html"
}
